#root{
  background-color: #212121;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
h1 {
  text-align: center;
  font-family: 'Designer', sans-serif;
}
.title{
  color: white;
}
.filme{
  background-color: blueviolet;
  
}
.coisa{
  border:white 1px solid;
  padding: 5px;
}
.container {
  text-align: center;
  color: #ffffff;
}

.link_button {
  margin-top: 5px;
  padding: 0.7rem 3rem;
  border: none;
  border-radius: 10px;
  color: #212121;
  background-color: #ffffff;
  font-weight: 1000;
  font-size: 12 px;
  cursor: pointer;
  transition: all 250ms;
}
.link_button:hover{
  transform: scale(1.1);
}

.img_movie {
  width: 20%;
  margin: 0 40%;
  border-radius: 10px;
  border:white 2px solid;
}

.movie-desc {
  text-align: justify;
}
.descricao {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 30%;
}
.descricao h4 {
  font-size: 24px;
}
.descricao p {
  text-indent: 30px;
}